*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", san-serif;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}
body {
    -ms-overflow-style: none;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 244, 252, 0.8);
    padding: 0 80px;
    border: 1px solid rgb(255, 209, 217);
    height: 80px;
    backdrop-filter: blur(12px);
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    padding: 20px 15px;
}
nav a{
    text-decoration: none;
    color: rgb(113, 111, 111);
}
nav a.active{
    color: black;
    font-weight: 600;
}
nav a:hover{
    color: black;
}
nav h2{
    font-size: 30px;
}
main{
    margin: 0;
}
.hero{
    display: flex;
    align-items: center;
    background-color: rgb(255, 244, 252);
    padding-top: 150px;
}
.availability{
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 500;
    animation: pulseText 2s ease-in-out infinite;
}
@keyframes pulseText{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.45;
    }
    100%{
        opacity: 1;
    }
}
.text p:first-child{
    margin-bottom: 35px;
}
.text h1{
    margin-bottom: 35px;
    font-size: 56px;
}
.text p:last-child{
    margin-bottom: 35px;
}
.line1, line2{
    display: block;
}
.line1{
    margin-bottom: 10px;
}
p{
    font-size: 16px;
    color: rgb(90, 87, 87);
}
.hero-buttons{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.btn{
    text-decoration: none;
    padding: 18px 36px;
    border-radius: 16px;
    font-size: 18px;
    margin-bottom: 50px;
}
.btn-primary{
    background-color: black;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-primary:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.btn-secondary{
    background-color: white;
    color: rgb(80, 77, 77);
    border: 1px solid rgb(89, 87, 87);
}
.btn-secondary:hover{
    background-color: pink;
}
.story{
    padding: 100px 0;
    background-color:  #ffedf2;
}
.story .container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}
.story .image img{
    width: 450px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
}
.story .image, .story .text{
    flex: 1;
}
.section-title {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 28px;
}
.line {
    width: 60px;
    height: 2px;
    background-color: black;
    display: inline-block;
}
.title{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
}
.story h2 {
    font-size: 52px;
    font-weight: 700;
    color:  #2a0808;
    line-height: 1.15;
    margin: 24px 0 32px;
    margin-bottom: 40px;
    max-width: 420px;
}
.story .text {
    max-width: 480px;
}
.story p {
    font-size: 15px;
    line-height: 1.8;
    color: #525151;
    margin-bottom: 24px;
}
.services{
    padding: 120px 0;
    background:  rgb(255, 244, 252);
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 60px;
    display: flex;
}
.services h2{
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}
.card{
    background: #ffeded;
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    padding: 35px;
    transition: all .3s ease;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,.08);
}
.card i {
    font-size: 28px;
    width: 75px;
    height: 5px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.card h3 {
    margin-bottom: 20px;
    color: #1d1d1d;
}
.card p {
    font-size: 15px;
    line-height: 1.8;
    color: #4f4e4e;
    margin-bottom: 35px;
}
.card a {
    text-decoration: none;
    color: black;
}
.learn-more {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #111;
}
.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}
.learn-more:hover .arrow {
    transform: translateX(6px);
}
.expertise{
    padding: 120px 0;
    background:  rgb(255, 244, 252);
}
.expertise h2{
    font-size: 50px;
    margin: 20px 0 60px;
}
.tool-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.tools {
    background: white;
    border: 1px solid rgb(255, 209, 217);
    border-radius: 10px;
    padding: 32px;
    transition: all 0.3s ease;
}
.tools i {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    background-color: white;
}
.tools h3 {
    font-size: 15px;
    margin-bottom: 12px;
}

.tools p{
    font-size: 13px;
    line-height: 1.7;
    color: #424141;
}
.contact{
    background-color:  #ffedf2;
    padding:120px 0;
    text-align:center;
}
.contact-label{
    letter-spacing:8px;
    font-size:18px;
    margin-bottom:40px;
    color:#111;
}
.contact h2{
    font-size:55px;
    line-height:1.05;
    font-weight:700;
    color:#2b0a0a;
    margin-bottom:60px;
}
.contact h2 span{
    font-style:italic;
    font-weight:400;
}
.divider{
    width:1px;
    height:110px;
    background:#9b9a9a;
    margin:0 auto 60px;
}
.email{
    display: inline-block;
    position: relative;
    text-decoration:none;
    color:#2b0a0a;
    font-size: 50px;
    font-weight:700;
    margin-bottom:60px;
}
.email::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 4px;             
    background: #2b0a0a;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease;
}
.email:hover::after{
    transform: scaleX(1);
}
.contact-text{
    max-width:600px;
    margin:0 auto;
    line-height:1.8;
    color:#555;
    font-size:18px;
}footer{
    padding:50px 0;
    border-top:1px solid #ddd;
    background-color:  #ffedf2;
}
.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.footer-links{
    display:flex;
    gap:40px;
}
.footer-content a{
    text-decoration:none;
    color:#111;
}
.footer-content a:hover{
    color:#666;
}
.footer-content p{
    margin-top: 20px;
}